doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titulo
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/index.css")

        
        
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet")
        img(src="public/img", alt="")
        script(src="/js/script.js")
    body 
   
